ENVIRONMENT=development
DEV_MEMORY_STORE_ENABLED=false
JWT_BASED_AUTH_ENABLED=true
AUTH_UPSTREAM_JWT_SHARED_SECRET=replace-me-with-a-long-random-secret
AUTH_UPSTREAM_JWT_ISSUER=pirate-dev-upstream
AUTH_UPSTREAM_JWT_AUDIENCE=pirate-api
CONTROL_PLANE_DATABASE_URL=file:/absolute/path/to/pirate-control-plane.db
TURSO_CONTROL_PLANE_AUTH_TOKEN=
TURSO_COMMUNITY_DB_WRAP_KEY=
TURSO_COMMUNITY_DB_WRAP_KEY_VERSION=1
LOCAL_COMMUNITY_DB_ROOT=/absolute/path/to/local-community-dbs
COMMUNITY_PROVISION_OPERATOR_BASE_URL=
COMMUNITY_PROVISION_OPERATOR_AUTH_TOKEN=
COMMUNITY_PROVISION_OPERATOR_TIMEOUT_MS=60000
COMMUNITY_PROVISION_DEFAULT_GROUP_LOCATION=aws-us-east-1
FILEBASE_S3_BUCKET_MUSIC=dev-songs
FILEBASE_S3_ENDPOINT=https://s3.filebase.com
FILEBASE_S3_REGION=us-east-1
IPFS_GATEWAY_URL=https://psc.myfilebase.com/ipfs
REGISTRY_PUBLISHER_URL=
REGISTRY_PUBLISHER_AUTH_TOKEN=
REGISTRY_PUBLISHER_TIMEOUT_MS=60000
HNS_VERIFICATION_PROVIDER=local_stub
HNS_RESOLVER_HOST=hnsdoh.com
HNS_VERIFICATION_TIMEOUT_MS=10000
HNS_PIRATE_NS_HOSTS=
HNS_ASSUME_EXPIRY_HORIZON_SUFFICIENT=true
PIRATE_APP_JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
replace-me
-----END PRIVATE KEY-----"
PIRATE_APP_JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
replace-me
-----END PUBLIC KEY-----"
PIRATE_APP_JWT_ISSUER=pirate-api
PIRATE_APP_JWT_AUDIENCE=pirate-app
PIRATE_APP_JWT_TTL_SECONDS=3600
PRIVY_APP_ID=
PRIVY_APP_SECRET=
PRIVY_API_URL=
PRIVY_JWT_VERIFICATION_KEY=
